
<!-- Create the dinamic graph-->
{% extends 'website/base.html' %}
{%  load staticfiles %}

{% block title %}Graph{% endblock %}
{% block head %}
    <!-- style-->
    <link type="text/css" rel="stylesheet" href="{% static 'website/styles_grafo.css' %}"/>
    <!-- library Vis-->
    <script type="text/javascript" src="{% static 'website/dist/vis.js' %}"></script>
    <link href="{% static 'website/dist/vis.css' %}" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="{% static 'website/dist/vis-network.min.css' %}"/>
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> 
     <style type="text/css">
      input.vis-configuration.vis-config-range {
          -webkit-appearance: none !important;
          border: 0px solid white !important;
          background-color: rgba(0,0,0,0) !important;
          width: 300px !important;
          height: 20px !important;
          margin-right: 5px;
      }

      input.vis-configuration.vis-config-rangeinput {
          position: relative !important;
          top: -5px !important;
          width: 55px !important;
          padding: 1px !important;
          margin: 0 !important;
          pointer-events: none !important;
          height: 20px !important;
      }

      input[type=range] {
          display: inline-block !important;
      }
      #show{
          position: absolute;
          left: 10px;
          top: 50px;
          -moz-border-radius: 17px;
          border-radius: 17px;
          position:absolute;
          display:inline-block;
          background-position: 2px 2px;
          background-repeat:no-repeat;
          cursor: pointer;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          }
      #show:hover {
          box-shadow: 0 0 3px 3px rgba(56, 207, 21, 0.30);
      }
	table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
table#colors tr:nth-child(even) {
    background-color: #eee;
}
table#colors tr:nth-child(odd) {
    background-color: #fff;
}
table#colors th {
    background-color: black;
    color: white;
}
.togger{
    display: none;
    position: absolute;
    top: 100px;
    left: 30px;
    

    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    text-align: center;
    border: 1px solid #45a049;
    font-size: 10px
    box-shadow: 0 1px 0 0 rgba(0,0,0,.12),0 5px 10px -3px rgba(0,0,0,.3);
}         
    </style>
    <script type="text/javascript">
        var nodes = null;
        var edges = null;
        var network = null;
        <!-- function to Create the dinamic graph-->
        function draw() {

            // create some nodes
            {%  if nodos %}
            var nodes = [{{ nodos|safe}}];
            {% endif %}

            {%  if edge %}
            var edges = [{{ edge|safe}}];
            {% endif %}

        // randomly create some nodes and edges
          var data = {
                    nodes: nodes,
                    edges: edges
                };


          // create a network
          var container = document.getElementById('mynetwork');
          // create options
          var options = {
            edges: {arrows:{to:{enabled:true}}},
              // Color of the nodes
             groups:{
                        "P":{
                            color:{background:'red',border:'maroon'},
                            },
                        "E":{color:{background:'coral',border:'black'},
                            },
                        "R":{color:{background:'green',border:'darkGreen'},
                            },
                        "B":{color:{background:'gold',border:'brown'},
                            },
                        "C":{color:{background:'black',border:'red'},
                            }

                    },
            interaction: {
                      navigationButtons: true,
                      keyboard: true
            } ,
            manipulation: {
                      addNode: function (data, callback) {
                          // filling in the popup DOM elements
                          document.getElementById('node-operation').innerHTML = "Add Node";
                          editNode(data, clearNodePopUp, callback);
                      },
                      editNode: function (data, callback) {
                          // filling in the popup DOM elements
                          document.getElementById('node-operation').innerHTML = "Edit Node";
                          editNode(data, cancelNodeEdit, callback);
                      },
                      addEdge: function (data, callback) {
                          if (data.from == data.to) {
                            var r = confirm("Do you want to connect the node to itself?");
                            if (r != true) {
                              callback(null);
                              return;
                            }
                          }
                          document.getElementById('edge-operation').innerHTML = "Add Edge";
                          editEdgeWithoutDrag(data, callback);
                      },
                      editEdge: {
                            editWithoutDrag: function(data, callback) {
                              document.getElementById('edge-operation').innerHTML = "Edit Edge";
                              editEdgeWithoutDrag(data,callback);
                            }
                      }
            },

            physics: {
                stabilization: {
                    enabled:true,
                    iterations:100,
                    updateInterval:25
                }
            },
            // create the options to edit the graph
            configure: {
              filter:function (option, path) {
                if (path.indexOf('physics') !== -1 || option === 'width' || option === 'shape') {
                  return true;
                }
                if (path.indexOf('font') !== -1 || option === 'font') {
                  return true;
                }
                if (path.indexOf('smooth') !== -1 || option === 'smooth') {
                  return true;
                }
                return false;
              },
              container: document.getElementById('config')

            }


          };
          network = new vis.Network(container, data, options);

          // add event listeners
          network.on("click", function (params) {
                // Check if you clicked on a node; if so, display the title (if any) in a popup
                network.interactionHandler._checkShowPopup(params.pointer.DOM);
            });
          network.on('select', function(params) {
                document.getElementById('selection').innerHTML = 'Selection: ' + params.nodes;
          });
          network.on("stabilizationProgress", function(params) {
                var maxWidth = 496;
                var minWidth = 20;
                var widthFactor = params.iterations/params.total;
                var width = Math.max(minWidth,maxWidth * widthFactor);

                document.getElementById('bar').style.width = width + 'px';
                document.getElementById('text').innerHTML = Math.round(widthFactor*100) + '%';
          });
          network.once("stabilizationIterationsDone", function() {
                document.getElementById('text').innerHTML = '100%';
                document.getElementById('bar').style.width = '496px';
                document.getElementById('loadingBar').style.opacity = 0;
                // really clean the dom element
                setTimeout(function () {document.getElementById('loadingBar').style.display = 'none';}, 500);
           });
        }
        function editNode(data, cancelAction, callback) {
                document.getElementById('node-label').value = data.label;
                document.getElementById('node-saveButton').onclick = saveNodeData.bind(this, data, callback);
                document.getElementById('node-cancelButton').onclick = cancelAction.bind(this, callback);
                document.getElementById('node-popUp').style.display = 'block';
        }

          // Callback passed as parameter is ignored
        function clearNodePopUp() {
                document.getElementById('node-saveButton').onclick = null;
                document.getElementById('node-cancelButton').onclick = null;
                document.getElementById('node-popUp').style.display = 'none';
        }
        function cancelNodeEdit(callback) {
                clearNodePopUp();
                callback(null);
        }
        function saveNodeData(data, callback) {
                data.label = document.getElementById('node-label').value;
                clearNodePopUp();
                callback(data);
        }

        function editEdgeWithoutDrag(data, callback) {
            // filling in the popup DOM elements
                document.getElementById('edge-label').value = data.label;
                document.getElementById('edge-saveButton').onclick = saveEdgeData.bind(this, data, callback);
                document.getElementById('edge-cancelButton').onclick = cancelEdgeEdit.bind(this,callback);
                document.getElementById('edge-popUp').style.display = 'block';
        }

        function clearEdgePopUp() {
                document.getElementById('edge-saveButton').onclick = null;
                document.getElementById('edge-cancelButton').onclick = null;
                document.getElementById('edge-popUp').style.display = 'none';
        }

        function cancelEdgeEdit(callback) {
                clearEdgePopUp();
                callback(null);
        }

        function saveEdgeData(data, callback) {
            if (typeof data.to === 'object')
              data.to = data.to.id
            if (typeof data.from === 'object')
              data.from = data.from.id
            data.label = document.getElementById('edge-label').value;
            clearEdgePopUp();
            callback(data);
        }
	  $(document).ready(function() {
              $("#show").click(function(){
                 $(".togger").toggle( "fast" );
              });

           });
  </script>

{% endblock %}
{% block body1 %}
<body onload="draw();">
{% endblock %}
{% block body %}

    <div id="node-popUp">
      <span id="node-operation">node</span> <br>
      <table style="margin:auto;">
        <tr>
          <td>id</td><td><input id="node-id" value="new value" /></td>
        </tr>
        <tr>
          <td>label</td><td><input id="node-label" value="new value" /></td>
        </tr>
      </table>
      <input type="button" value="save" id="node-saveButton" />
      <input type="button" value="cancel" id="node-cancelButton" />
    </div>

    <div id="edge-popUp">
      <span id="edge-operation">edge</span> <br>
      <table style="margin:auto;">
        <tr>
          <td>label</td><td><input id="edge-label" value="new value" /></td>
        </tr></table>
      <input type="button" value="save" id="edge-saveButton" />
      <input type="button" value="cancel" id="edge-cancelButton" />
    </div>

    <div id="wrapper">
        <div id="mynetwork"></div>
        <div id="config"></div>
        <button id = "show" style="padding: 0px; border: 0px; "><img src="{% static 'website/dist/img/network/plus.png'%}" class = "vis-button"></button>
        
      <div class = "togger">
        <table id="colors">
              <tr>
                  <th>Color</th>
                  <th>Node</th>
              </tr>
              <tr>
                  <td><img src="{% static 'website/images/black.ico' %}" alt="Black" width="50%" height="50%"></td>
                  <td>Choosen Node</td>
              </tr>
              <tr>
                  <td><img src="{% static 'website/images/red.ico' %}" alt="Red"  width="50%" height="50%"></td>
                  <td>Provider Node</td>
              </tr>
              <tr>
                  <td><img src="{% static 'website/images/cream.ico' %}" alt="Cream" width="50%" height="50%"></td>
                  <td>Provider Edge Node</td>
              </tr>
              <tr>
                  <td><img src="{% static 'website/images/yellow.ico' %}" alt="Yellow" width="50%" height="50%"></td>
                  <td>Border Node</td>
              </tr>
              <tr>
                  <td><img src="{% static 'website/images/green.ico' %}" alt="Green" width="50%" height="50%"></td>
                  <td>Backup Node</td>
              </tr>
            </table>
	
      </div>
	<div id="loadingBar">
            <div class="outerBorder">
                <div id="text">0%</div>
                <div id="border">
                    <div id="bar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
