
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
                    <title>test</title>
        <script type="text/javascript" src="vis/vis.js"></script>
        <link href="vis/vis.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        function draw() {
            // create some nodes
var nodes = [{id:409, "label": "RBBCNTE01", "group": 1},
{id:20, "label": "AMBSURP01", "group": 1},
{id:411, "label": "RBBCNTP01", "group": 1},
{id:407, "label": "RBBCLPIE01", "group": 1},
{id:403, "label": "RBBALSE01", "group": 1},
{id:405, "label": "RBBCHBE01", "group": 1},
{id:417, "label": "RBBGUANE01", "group": 1},
{id:416, "label": "RBBGMTE01", "group": 1},
{id:410, "label": "RBBCNTE02", "group": 1},
{id:422, "label": "RBBPENIE01", "group": 1},
{id:415, "label": "RBBESPE01", "group": 1},
{id:420, "label": "RBBOCCE01", "group": 1},
{id:424, "label": "RBBSURE01", "group": 1},
{id:418, "label": "RBBLMRE01", "group": 1},
{id:419, "label": "RBBNORTE01", "group": 1},
{id:421, "label": "RBBORNE01", "group": 1},
{id:408, "label": "RBBCLRE01", "group": 1},
{id:17, "label": "AMBSURB01", "group": 1},
{id:287, "label": "LTCCNTE01", "group": 1},
{id:2, "label": "AMBCNTE01", "group": 1},
{id:499, "label": "UIOINQP01", "group": 1},
{id:104, "label": "GRDCNTE01", "group": 1},
{id:136, "label": "GYECNTP01", "group": 1},
{id:26, "label": "AZGCNTE02", "group": 1},
{id:3, "label": "AMBCNTP01", "group": 1},
{id:359, "label": "PUYCNTP01", "group": 1},
{id:295, "label": "LTCSALDE01", "group": 1},
{id:59, "label": "CCACNTE02", "group": 1},
{id:19, "label": "AMBSURE02", "group": 1},
{id:18, "label": "AMBSURE01", "group": 1},
{id:70, "label": "CCAMOVE01", "group": 1},
{id:60, "label": "CCACNTP01", "group": 1},
{id:404, "label": "RBBCAJBE01", "group": 1},
{id:406, "label": "RBBCHUNE01", "group": 1},
{id:413, "label": "RBBCNTRB01", "group": 1},
{id:423, "label": "RBBPLTGE01", "group": 1},
];
        var edges= [{"from": 409, "to": 20},
{"from": 409, "to": 20},
{"from": 409, "to": 20},
{"from": 409, "to": 411},
{"from": 409, "to": 411},
{"from": 409, "to": 407},
{"from": 409, "to": 403},
{"from": 409, "to": 405},
{"from": 409, "to": 417},
{"from": 409, "to": 416},
{"from": 409, "to": 410},
{"from": 409, "to": 422},
{"from": 409, "to": 415},
{"from": 409, "to": 420},
{"from": 409, "to": 424},
{"from": 409, "to": 424},
{"from": 409, "to": 424},
{"from": 409, "to": 418},
{"from": 409, "to": 419},
{"from": 409, "to": 421},
{"from": 409, "to": 421},
{"from": 409, "to": 408},
{"from": 409, "to": 20},
{"from": 409, "to": 20},
{"from": 409, "to": 20},
{"from": 20, "to": 17},
{"from": 20, "to": 409},
{"from": 20, "to": 409},
{"from": 20, "to": 409},
{"from": 20, "to": 409},
{"from": 20, "to": 409},
{"from": 20, "to": 409},
{"from": 20, "to": 287},
{"from": 20, "to": 2},
{"from": 20, "to": 2},
{"from": 20, "to": 2},
{"from": 20, "to": 499},
{"from": 20, "to": 2},
{"from": 20, "to": 499},
{"from": 20, "to": 104},
{"from": 20, "to": 499},
{"from": 20, "to": 104},
{"from": 20, "to": 499},
{"from": 20, "to": 104},
{"from": 20, "to": 136},
{"from": 20, "to": 26},
{"from": 20, "to": 136},
{"from": 20, "to": 26},
{"from": 20, "to": 3},
{"from": 20, "to": 26},
{"from": 20, "to": 359},
{"from": 20, "to": 295},
{"from": 20, "to": 359},
{"from": 20, "to": 59},
{"from": 20, "to": 411},
{"from": 20, "to": 19},
{"from": 20, "to": 18},
{"from": 20, "to": 70},
{"from": 403, "to": 60},
{"from": 403, "to": 409},
{"from": 403, "to": 19},
{"from": 405, "to": 409},
{"from": 407, "to": 409},
{"from": 408, "to": 409},
{"from": 408, "to": 410},
{"from": 410, "to": 424},
{"from": 410, "to": 418},
{"from": 410, "to": 408},
{"from": 410, "to": 3},
{"from": 410, "to": 411},
{"from": 410, "to": 404},
{"from": 410, "to": 409},
{"from": 410, "to": 406},
{"from": 410, "to": 416},
{"from": 410, "to": 415},
{"from": 410, "to": 420},
{"from": 411, "to": 20},
{"from": 411, "to": 413},
{"from": 411, "to": 409},
{"from": 411, "to": 409},
{"from": 411, "to": 410},
{"from": 411, "to": 59},
{"from": 415, "to": 409},
{"from": 415, "to": 410},
{"from": 416, "to": 409},
{"from": 416, "to": 423},
{"from": 416, "to": 410},
{"from": 417, "to": 409},
{"from": 418, "to": 409},
{"from": 418, "to": 423},
{"from": 418, "to": 410},
{"from": 419, "to": 409},
{"from": 419, "to": 423},
{"from": 420, "to": 410},
{"from": 420, "to": 424},
{"from": 420, "to": 409},
{"from": 421, "to": 409},
{"from": 421, "to": 409},
{"from": 422, "to": 409},
{"from": 422, "to": 19},
{"from": 424, "to": 409},
{"from": 424, "to": 409},
{"from": 424, "to": 409},
{"from": 424, "to": 410},
{"from": 424, "to": 420},
];
            // create a network
            var container = document.getElementById('grafo');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    shape: 'dot',
                    size: 20
                },
                physics: {
                    forceAtlas2Based: {
                        gravitationalConstant: -10,
                        centralGravity: 0.005,
                        springLength: 230,
                        springConstant: 0.18
                    },
                    maxVelocity: 146,
                    solver: 'forceAtlas2Based',
                    timestep: 0.35,
                    stabilization: {iterations: 150}
                },edges: {arrows:{to:{enable:true}}}
            };
            var network = new vis.Network(container, data, options);
        }
    </script>
    <script src="../../googleAnalytics.js"></script>    </head>
    <body onload="draw()">           <div id="grafo" style="position: absolute; top: 0px; bottom: 10px; width: 100%;"></div>
    </body>
</html>