{% extends 'website/base.html' %}

{% block title %}Modules{% endblock %}

{% block body %}

    {%  load staticfiles %}
    <link rel = "stylesheet" type="text/css" href = "{% static 'website/styles_upload.css' %}"/>
    <style>p.indent{ padding-left: 1.8em }</style>
    <body>
            <div class="container_login" style="top: 60%;">
                <form action="/CiberC/convertModules/" class="container" style="width: 960px;" enctype="multipart/form-data" method="post" >
                    {%  csrf_token %}

                    <div class="Upload_container">
                        <h3><h3 style="text-align:center" ><font size="5">Please paste the Cisco IOS commands on the left:</font></h3>
                        <div>
                            {%  if ios %}
                                <textarea name="commands" rows="20" cols="60" style="resize:none;" required>{{ ios }}</textarea>
                            {%  else %}
                                <textarea name="commands" rows="20" cols="60" style="resize:none;" required></textarea>
                            {% endif %}

                            {%  if iosXR %}
                                <textarea name="text" rows="20" cols="60" style="resize:none;" readonly>{{ iosXR }}</textarea>
                            {%  else %}
                                <textarea name="text" rows="20" cols="60" style="resize:none;" readonly></textarea>
                            {% endif %}

                        </div>

                        <select  style="margin-left: 30px;" name="option">
                            <option>Vfis</option>
                            <option>Xconnects</option>
                            <option>Prefix-List</option>
                        </select>
			<input  style="margin-left: 30px;"  type="radio" name="opt" value="1" checked>	Download
                        <input  style="margin-left: 30px;"  type="radio" name="opt" value="2">	Print<br>

                        <button type="submit" class="upload" onclick="Convert(this.form)">Convert</button>
                    </div>
                </form>
            </div>
    </body>


{% endblock %}
