{% extends 'website/base.html' %}

{% block title %}Network Grapher{% endblock %}

{% block body %}

    {%  load staticfiles %}
    <link rel = "stylesheet" type="text/css" href = "{% static 'website/styles_upload.css' %}"/>
            <div class="container_graf">
                <form action="/CiberC/viewGraph/" class="container" enctype="multipart/form-data" method="post" >
                    {%  csrf_token %}

                    <div class="Upload_container">
                        <h3> <h3 style="text-align:center" ><font size="6">Network Graph</font></h3>
                        {%  if error_message %}
                            <p class="error_message"><font size="5">{{ error_message }}</font></p>
                        {%  elif success_message %}
                            <p class="success_message"><font size="5">{{ success_message }}</font></p>
                            <input type="text" placeholder="Enter name or ip address" name="node" required>
                            <div>
	                            <div >
                                <h4>Node Levels</h4>
                                <input type="radio" name="level" value="1" checked>1 Hop<br>
                                <input type="radio" name="level" value="2">2 Hops<br>
                                <input type="radio" name="level" value="3">3 Hops<br>
                                <input type="radio" name="level" value="4">All Network<br>
                                </div>
                                <div >
                                <h4>Node Links</h4>
                                <input type="radio" name="link" value="1" checked>1 Link Brief<br>
                                <input type="radio" name="link" value="2">Links Details <br>
                                </div>
                                <div >
                                <h4>Network</h4>
                                <input type="radio" name="red" value="1" checked>Static View<br>
                                <input type="radio" name="red" value="2">Dynamic View<br>
                                </div>
                            </div>
                            <button type="submit" class="upload" onclick="Generate(this.form)">Generate</button>
                        {% endif %}
                    </div>
                </form>
            </div>
{% endblock %}
