* {
	padding:0;
	margin:0;
}

body {
	background:#FFFFFA;
}

header {
	width:100%;
}

header ul {
	width:100%;
	margin:auto;
	background:#000000;;
}

.menu_bar,.menu1_bar,.menu2_bar,.menu3_bar,.menu4_bar {
	display:none;
}

header ul {
	list-style:none;
	overflow:auto;
}

header ul> li {
	float:left;
}

header  ul li span {
	margin-right:10px;
}
header  li ul {
		display:none;
		position: absolute;
		z-index:1;
		width: auto;
		float:left;
}

header  ul li:hover > ul {
		display:block;
}

header ul li a{
	display:block;
	padding:20px;
	color:#fff;
	text-decoration:none;
}
header  ul li a:hover {
	background:#037E8C !important;
}
header  ul li div a:hover  {
	background:#037E8C;
}
section {
	padding:20px;
}

@media screen and (max-width:820px) {
	.nav_bar,.nav1_bar,.nav2_bar,.nav3_bar,.nav4_bar{
		width:200px;
		margin:0;
		position:absolute;
		z-index:1;
		left:-100%;
		/*top:0px;*/
		overflow:auto;
	}
	.nav1_bar{
		top:145px;
	}
	.nav2_bar{
		top:210px;
	}
	.nav3_bar{
		top:275px;
	}
	.nav4_bar{
		top:275px;
	}
	.menu_bar,.menu1_bar,.menu2_bar,.menu3_bar,.menu4_bar  {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu,.menu1_bar .bt1-menu,.menu2_bar .bt2-menu,.menu3_bar .bt3-menu,.menu4_bar .bt4-menu  {
		display:block;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#000000;
		overflow: hidden;
		font-weight:bold;
		color:#fff;
		text-decoration:none;
	}

	.menu_bar span {
		margin: 0% 5% 0% 0%;
		font-size:30px;
	}

	header nav ul li {
		display:block;
		float:none;
		width:250px;
		border-bottom:1px solid rgba(255,255,255,.3);
	}
}
@media screen and (min-width:820px) {
	.nav1_bar,.nav2_bar,.nav3_bar,.nav4_bar{
		width:150px;
		margin:0;
		float: left;
		position:absolute;
		z-index:5;
		left:-100% ;
		/*top:0px;*/
		overflow:auto;
	}
	.menu1_bar,.menu2_bar,.menu3_bar,.menu4_bar  {
		display:block;
		background:#ccc;
	}

	.menu1_bar .bt1-menu,.menu2_bar .bt2-menu,.menu3_bar .bt3-menu,.menu4_bar .bt4-menu  {
		display:block;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#024959;
		overflow: hidden;
		font-weight:bold;
		color:#fff;
		text-decoration:none;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

	header nav ul li {
		display:block;
	}
}
