/* Container*/
div.container-login{
    background: white;
    width: 600px;
    border: 10px solid #f1f1f1;
    position: absolute;
    padding: 16px;
    margin: 24px 0 12px 0;
    font-size: 30px;
}
div.container-tipo{
    background: white;
    width: 600px;
    border: 10px solid #f1f1f1;
    position: absolute;
    padding: 16px;
    margin: 30% 0 12px 0;
    font-size: 30px;
}

/* Bordered form */
form {
	width: 100%;
  height: 15%;
}
/* Full-width inputs */
input[type=text].input-login,input[type=password].input-login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 25px;
}
div.ventad1{
  overflow: scroll;
}

label.label-login{
    width: 80%;
    height: 50%;
    font-family: Arial;
    font-weight: lighter;
    font-size: 22px;
}

p.login{
    font-family: Arial;
    color: #ff0000;
    font-size: 20px;
}
h2{
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 10px 0;
}

/* Set a style for all buttons */
button.button-login {
	  color: #fff;
    background-color: #007bff;
    padding: 3%;
    border: none;
    cursor: pointer;
    margin: 10px 0 10px 0;
    width: 100%;
    font-size: 20px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.Image_container {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.logo {
    width: 60%;
}
.splass{
  background: black;
}
.licono{
  color: white;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.icono {
  width: 55%;
  margin-top: 20%;
  margin-left: 25%;
}
.icono1 {
  width: 23%;
  margin-top: 50%;
  margin-left: 40%;
}
.cont2 {
display: block;
}

select.select-login{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 25px;
}
input.invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus.invalid {
  outline: none;
}


@media screen and (max-width:700px) {
  div.container-login,div.container-tipo{
      font-size: 20px;
      width: 90%;
      top: 50%;
  }
  input[type=text].input-login,input[type=password].input-login{
      font-size: 15px;
  }

  label.label-login{
      font-size: 15px;
  }
  button.button-login {
      font-size: 15px;
  }
}
@media (max-width:280px)  {
  .licono{
    font-size: 12px;
  }
  .icono {
    margin-top: 20%;
  }
  .icono1 {
    margin-top: 20%;
  }
} /* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:310px)  {
  .licono{
    font-size: 12px;
  }
  .icono {
    margin-top: 10%;
  }
  .icono1 {
    margin-top: 40%;
  }
}
@media (min-width:330px)  {
  .licono{
    font-size: 12px;
  }
  .icono {
    margin-top: 10%;
  }
  .icono1 {
    margin-top: 52%;
  }
} /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  {
  .licono{
    font-size: 14px;
  }
  .icono {
    margin-top: 10%;
  }
  .icono1 {
    margin-top: 40%;
  }
} /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:641px)  {
  .licono{
    font-size: 14px;
  }
  .icono {
    margin-top: 10%;
  }
  .icono1 {
    margin-top: 30%;
  }
} /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:961px)  {
  .licono{
    font-size: 18px;
  }
  .icono {
    width: 45%;
    margin-top: 10%;
  }
  .icono1 {
    width: 20%;
    margin-top: 30%;
  }
} /* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:1025px) {
  .licono{
    font-size: 20px;
  }
  .icono {
    width: 45%;
    margin-top: 10%;
  }
  .icono1 {
    margin-top: 30%;
  }
} /* big landscape tablets, laptops, and desktops */
@media (min-width:1281px) {
  .licono{
    font-size: 20px;
  }
  .icono {
    width: 40%;
    margin-top: 10%;
  }
  .icono1 {
    margin-top: 40%;
  }
}
