table, td, div, h1, p {font-family: Arial, sans-serif;}

    .container{
      width: 300px;;
      border-collapse:collapse;
      border:0;
      border-spacing:0;  
      background-color: #fafafa;
      margin-left: 300px;
    }

    .footer{
    width:300px;
    border-collapse:collapse;
    border:0;
    border-spacing:0;
		height: auto;
		position: relative;
	  }

    .description{
		color: #464646;
		position: relative;
		background-color: #fdfdfd;
    width:602px;
    border-collapse:collapse;
    border-spacing:0;
    text-align:left;
    border-radius: 40px;
	  }

    .orientation {
        writing-mode: vertical-rl;
        font-size: 0.7em;
    }

    .line {
        border-top: 1px solid black;
        height: auto;
        max-width: 400px ;
        padding: 0;
        margin: auto auto 0 auto;
      }

      .line-vertical {
        border-right: 1px solid black;
        height: auto;
        max-height: 400px ;
        padding: 0px 5px 0px 5px;
        margin: auto auto 0 auto;
      }