.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 685px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  font-family: "Great Vibes";
  margin: 51px 28px 0 46px;
}

.u-section-1 .u-text-2 {
  line-height: 0.8;
  font-size: 6rem;
  font-family: "Great Vibes";
  font-weight: normal;
  margin: 24px 0 0 -32px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 0 0 -32px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 61px auto 0 -32px;
  padding: 19px 59px 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 685px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-image-1 {
  height: 372px;
  object-position: 20.97% 50%;
  margin-top: 120px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 565px;
  }

  .u-section-1 .u-image-1 {
    height: 301px;
    margin-top: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 82px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5.625rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 62px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 39px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-1 .u-image-1 {
    height: 186px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 957px;
}

.u-section-2 .u-group-1 {
  min-height: 102px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 33px;
}

.u-section-2 .u-image-1 {
  min-height: 380px;
  background-image: url("images/1.jpeg");
  background-position: 32.14% 89.06%;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 461px;
  background-image: none;
}

.u-section-2 .u-image-2 {
  width: 351px;
  height: 351px;
  margin: 55px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 344px;
  background-image: none;
}

.u-section-2 .u-image-3 {
  width: 180px;
  height: 114px;
  margin: 20px auto 0 24px;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  margin: -79px -69px 0 131px;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 50px 12px 0;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  margin: -6px 38px 0 24px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 451px;
}

.u-section-2 .u-container-layout-5 {
  margin-bottom: 0;
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 330px;
  width: 360px;
  margin: 0 auto 0 -7px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 344px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-5 {
  object-position: 50% 0%;
  margin-top: 0;
  margin-bottom: 0;
  height: 360px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 451px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-6 {
  margin-top: 40px;
  margin-bottom: 0;
  height: 352px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 313px;
    background-position: 50% 89.06%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-image-2 {
    width: 293px;
    height: 293px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-top: 35px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 332px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-4 {
    height: 269px;
    width: 293px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 327px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-5 {
    height: 297px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 372px;
  }

  .u-section-2 .u-image-6 {
    height: 290px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-image-5 {
    height: 682px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 855px;
  }

  .u-section-2 .u-image-6 {
    height: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-image-1 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 1;
    min-height: 430px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-image-5 {
    height: 512px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 641px;
  }

  .u-section-2 .u-image-6 {
    height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-5 {
    height: 322px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 404px;
  }

  .u-section-2 .u-image-6 {
    height: 315px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 858px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px auto 1px 0;
}

.u-section-3 .u-image-1 {
  min-height: 857px;
  background-image: url("images/cerdo.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 857px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  margin: 93px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 13px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 1.875rem;
  margin: 21px 181px 0 11px;
}

.u-section-3 .u-btn-1 {
  margin: 57px auto 0 11px;
  padding: 14px 44px 15px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 519px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-image-1 {
    min-height: 707px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 398px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-image-1 {
    min-height: 542px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 50px 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 697px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-image-1 {
    min-height: 813px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 100px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 476px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-image-1 {
    min-height: 512px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 35px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-3 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 22px;
    margin-right: 40px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 325px;
}

.u-section-4 .u-group-1 {
  min-height: 110px;
  width: 1140px;
  margin: 5px auto 60px -30px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 418px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1240px;
  margin: -226px -50px 37px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 265px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 2px 20px 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 265px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 2px 20px 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 265px;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 600;
  margin: 0 20px;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 265px;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 600;
  margin: 2px 20px 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 342px;
}

.u-section-5 .u-image-1 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 342px;
}

.u-section-5 .u-image-2 {
  margin-top: 20px;
  margin-bottom: 0;
  height: 304px;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 342px;
}

.u-section-5 .u-image-3 {
  width: 287px;
  height: 320px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 342px;
}

.u-section-5 .u-image-4 {
  width: 284px;
  height: 306px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 201px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 201px;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 259px;
  }

  .u-section-5 .u-image-1 {
    height: 216px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 259px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    height: 230px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 259px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    width: 213px;
    height: 237px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 259px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-4 {
    width: 213px;
    height: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 128px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 115px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 397px;
  }

  .u-section-5 .u-image-1 {
    height: 331px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 397px;
  }

  .u-section-5 .u-image-2 {
    height: 352px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 397px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 596px;
  }

  .u-section-5 .u-image-1 {
    height: 497px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 596px;
  }

  .u-section-5 .u-image-2 {
    height: 528px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 596px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 596px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 375px;
  }

  .u-section-5 .u-image-1 {
    height: 313px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 375px;
  }

  .u-section-5 .u-image-2 {
    height: 332px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 375px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 375px;
  }
}.u-section-6 {
  min-height: 726px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 60px auto;
}

.u-section-6 .u-image-1 {
  min-height: 636px;
  background-image: url("images/res.jpg");
}

.u-section-6 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-6 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-6 .u-group-1 {
  width: 490px;
  min-height: 556px;
  margin: 79px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 46px 68px 0 20px;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 68px 0 11px;
}

.u-section-6 .u-text-3 {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 1.875rem;
  margin: 20px 172px 0 20px;
}

.u-section-6 .u-btn-1 {
  margin: 20px auto 0 20px;
  padding: 16px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 545px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-image-1 {
    min-height: 524px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-6 .u-group-1 {
    width: 430px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 37px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 219px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 76px;
    margin-right: 108px;
    margin-left: 64px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 108px;
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 501px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-image-1 {
    min-height: 401px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-group-1 {
    width: 335px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 25px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 188px;
    margin-right: 13px;
    margin-left: 111px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 90px;
    margin-right: 53px;
    margin-left: 9px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 53px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-image-1 {
    min-height: 564px;
  }

  .u-section-6 .u-group-1 {
    width: 536px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 48px;
    margin-right: 9px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 48px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 9px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 1116px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 66px;
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-image-1 {
    min-height: 315px;
  }

  .u-section-6 .u-group-1 {
    width: 341px;
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 35px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 74px;
    margin-right: 42px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 42px;
    margin-left: 0;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 921px;
}

.u-section-7 .u-text-1 {
  font-weight: 600;
  width: 519px;
  margin: 568px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -587px;
  margin-bottom: 20px;
}

.u-section-7 .u-image-1 {
  min-height: 380px;
  background-image: url("images/19.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 461px;
  background-image: none;
}

.u-section-7 .u-image-2 {
  width: 351px;
  height: 351px;
  margin: 55px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 422px;
  background-image: none;
}

.u-section-7 .u-text-2 {
  text-transform: none;
  margin: 34px 31px 0;
}

.u-section-7 .u-image-3 {
  width: 322px;
  height: 249px;
  margin: 34px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 502px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-4 {
  margin-top: 40px;
  margin-bottom: 0;
  height: 352px;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 422px;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-5 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 352px;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 500px;
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-6 {
  margin-top: 40px;
  margin-bottom: 0;
  height: 352px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-7 .u-image-1 {
    min-height: 313px;
    background-position: 50% 89.06%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-7 .u-image-2 {
    width: 293px;
    height: 293px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 706px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 354px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    width: 293px;
    height: 227px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 414px;
  }

  .u-section-7 .u-image-4 {
    height: 290px;
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 348px;
  }

  .u-section-7 .u-image-5 {
    height: 290px;
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 412px;
  }

  .u-section-7 .u-image-6 {
    height: 290px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2868px;
  }

  .u-section-7 .u-image-1 {
    min-height: 360px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 855px;
  }

  .u-section-7 .u-image-4 {
    height: 666px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 800px;
  }

  .u-section-7 .u-image-5 {
    height: 666px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 947px;
  }

  .u-section-7 .u-image-6 {
    height: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2890px;
  }

  .u-section-7 .u-image-1 {
    min-height: 326px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 714px;
  }

  .u-section-7 .u-image-4 {
    height: 500px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 600px;
  }

  .u-section-7 .u-image-5 {
    height: 500px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 710px;
  }

  .u-section-7 .u-image-6 {
    height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2029px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-top: 1652px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 450px;
  }

  .u-section-7 .u-image-4 {
    height: 315px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 378px;
  }

  .u-section-7 .u-image-5 {
    height: 315px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 447px;
  }

  .u-section-7 .u-image-6 {
    height: 315px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 750px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 1014px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 1.875rem;
  margin: 26px -10px 0 0;
}

.u-section-8 .u-btn-1 {
  margin: 89px auto 0 0;
  padding: 14px 44px 15px;
}

.u-section-8 .u-image-1 {
  min-height: 1014px;
  background-image: url("images/frutas.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 836px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 38px;
    margin-left: 31px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 38px;
    margin-left: 31px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 38px;
    margin-left: 31px;
  }

  .u-section-8 .u-image-1 {
    min-height: 836px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 640px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 100px;
    padding-left: 50px;
  }

  .u-section-8 .u-image-1 {
    min-height: 900px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 40px;
  }

  .u-section-8 .u-image-1 {
    min-height: 567px;
  }
}.u-section-9 {
  min-height: 502px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1300px;
  margin: 1px 0;
}

.u-section-9 .u-image-1 {
  background-image: url("images/18ea51ec954a7ac8f74646b5985eef4d.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-9 .u-map-1 {
  left: auto;
  right: auto;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-9 .u-image-2 {
  object-position: 51.54% 50%;
  width: 538px;
  height: 393px;
  margin: 33px auto 0 38px;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 364px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-image-1 {
    min-height: 362px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 362px;
    background-position: 50% 50%;
  }

  .u-section-9 .u-image-2 {
    width: 470px;
    height: 343px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 429px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-image-1 {
    min-height: 277px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-9 .u-image-2 {
    width: 360px;
    height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 978px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-image-1 {
    min-height: 416px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 949px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    min-height: 262px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 248px;
  }
}